
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: #181f2a;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: white;

}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
}



/* Start Header*/

header {
  display: flex;
  justify-content: space-between;
  background-color: #1c2431;
  padding: 6%;

}

.top_nav {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: .7em;
  padding: 0 1em;
}

header img {
  max-width: 27%;
}


/*End Header */

/*Start About */
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  text-align: center;
  background-image: url(images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  position: relative;
  background-color: #1c2431;
}

.img_cont {
  width: 90%;
  padding: 40px;
}

.intro img {
  width: 100%;
  height: auto;
  max-width: 670px;
}

.intro_text {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 10px;
  width: 80%;
}

p {
  font-size: .9rem;
  line-height: 1.6;
  padding-bottom: 20px;
}

.btnBlue {
  display: block;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 50px;
  width: 250px;
  height: 53px;
  text-align: center;
  vertical-align: center;
  padding: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  margin-bottom: 60px;
}



/*End About */

/*Start Choose Us */
.choose_us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.reason img {
  max-width: 16%;
  padding-bottom: 30px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.reason_text h2 {
  padding-bottom: 15px;
}

.reason {
  margin: 2.5em .6em;
  flex-basis: 40%;
  flex-basis: 400px;
}

/*End Choose Us */


/*Start Stay Productive */
.stay_productive {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 120px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}



.productive_img img  {
  width: 100%;
  height: auto;
  padding-bottom: 50px;

}

.productive_img {
  flex-basis: 50%;
  flex-basis: 500px;
}

.productive_text {
  text-align: left;
  flex-basis: 50%;
  flex-basis: 500px;
}

.productive_text h2 {
  padding-bottom: 20px;
}

.productive_text p {
  padding-bottom: 20px;
}

.prod_link {
  border-bottom: 1px solid hsl(176, 68%, 64%);
  display: block;
  width: 40%;
  margin-bottom: 100px;

}

.link_dec {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 3px;

}

.prod_link a {
  color: hsl(176, 68%, 64%);
  font-size: .9rem;
  padding: 0;
}
/*End Stay Productive */

/*Start Comments */
.comment_section  {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;

}

.quotes {
  position: relative;
  display: block;
}

.quotes::before {
  display: block;
  position: absolute;
  background: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 45px;
  content: '';
  top: -50px;
  left: -50px;
}

/* ADD IF CAN LOL
.quotes_btm {
  position: relative;
  display: block;
}

.quotes_btm::before {
  display: block;
  position: absolute;
  background: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 45px;
  content: '';
  top: 50px;
  left: -50px;
  transform: rotate(180deg);
}*/


.comments {
  padding-bottom: 60px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

h4 {
  font-size: .8rem;
}


.comment {
  background-color: hsl(219, 30%, 18%);
  border-radius: 10px;
  margin: 15px;;
  padding: 30px 20px;
  flex-basis: 33.3222%;
  flex-basis: 300px;
  text-align: left;

}

.comment_text p {
  padding-bottom: 20px;
}

.user p {
  padding: 0;
  font-size: .5rem;
}
.user {
  display: flex;
  text-align: left;
  align-items: center;
}

.user img {
  border-radius: 100px;
  width: 13%;
  height: 13%;
  margin-right: 10px;
}

.comment p {
  font-size: .6rem;
}

.user_details {

}



/*Start Early Access */

.early_access {
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  margin: 0 auto 30px auto;
  width: 90%;
  background-color: hsl(217, 28%, 15%);
  border-radius: 10px;
  max-width: 720px;
}

.access {
  background: linear-gradient(to bottom, #181f2a 0%,
    #181f2a 45%, #0b1523 45%, #0b1523 100%);
    padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.email_btn {
    color: white;
    background: white;
    border-radius: 50px;
    width: 260px;
    height: 53px;
    padding: 15px;
    margin: 10px;
    font-size: .7rem;
    border: none;
    flex-grow: 2;
    flex-basis: 60%;
    flex-basis: 400px;
}



.start_btn {
  color: white;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 50px;
  width: 260px;
  height: 53px;
  text-align: center;
  vertical-align: center;
  margin: 10px;
  border: none;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  flex-grow: 1;
  flex-basis: 30%;
  flex-basis: 200px;
}

.early_text h2 {
  padding-bottom: 20px;
}
/*End Early Access */

/*Start Footer */


footer {
  background-color: #0b1523;
  padding-bottom: 60px;
}

.footer_cont {
width: 80%;
justify-content: center;
text-align: center;
display: flex;
flex-wrap: wrap;
flex-direction: row;
position: relative;
margin: 0 auto;
}


.bottom_logo {
    max-width: 60%;
    height: auto;
}

.poc {
  display: flex;
  align-items: center;
width: 100%;
}

.poc img {
float: left;
padding: 10px;
}

.poc p {
font-size: .9em;
padding: 10px;
}


.contact {
  margin: 0 auto;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 50px;
  flex-direction: row;
  padding: 1.25rem;
 min-width: 20rem;
 flex: 2;
}

.btm_img_cont {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding: 1.25rem;
}

.social_media {
  font-size: 1.5rem;
  padding: 1.25rem;
 min-width: 10rem;
  flex-basis: 20%;
  flex-basis: 200px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

.about_nav {
  flex-basis: 50%;
  flex-basis: 250px;
  text-align: left;
 min-width: 10rem;
 padding-bottom: 1.25rem;
 flex: 1;
}

.contact_nav {
  flex-basis: 50%;
  flex-basis: 250px;
  text-align: left;
 min-width: 10rem;
 padding-bottom: 1.25rem;
 flex: 1;
}

footer a {
  display: block;
  font-size: 1.1em;
  padding-bottom: 15px;
}

.fa-facebook {
  padding: 10px;
}

.fa-instagram {
  padding: 10px;
}

.fa-twitter {
  padding: 10px;
}
/*End Footer */


@media only screen and (min-width: 1000px) {
nav  a {
    font-size: 1.5em;
  }

.intro_text p {
  font-size: 1.9em;
}

h1 {
  font-size: 4em;
}

.img_cont {
  width: 60%;
  max-width: 700px;
  text-align: center;
}

.intro_text {
  max-width: 60%;
}

.intro {
  background-image: url(images/bg-curvy-desktop.svg);

}

.reason {
  margin: 1em 2em;

}

.productive_text {
  margin-left: 4em;
}

h2 {
  font-size: 2em;
}

}
